.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content .title-content {
  text-align: center;
}

.content .body-content {
  text-align: center;
}

.content .title-anggota {
  margin-top: 6rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.content .card-anggota {
  display: grid;
  grid-template-columns: 3fr 3fr;
  width: 100%;
  margin-top: 4rem;
}

.content .card-anggota .image-anggota {
  margin-right: 1rem;
}

.content .card-anggota .image-anggota img {
  width: 300px;
}

.content .card-anggota .data-anggota {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .card-anggota .data-anggota h3 {
  font-size: 2rem;
  font-weight: 700;
}

.content .card-anggota .data-anggota p {
  font-size: 1rem;
  font-weight: 500;
}

.content .card-anggota .data-anggota .icons {
  display: flex;
  align-items: center;
}

.content .card-anggota .data-anggota .icons .instagram {
  transition: 1s;
  width: 50px;
}

.content .card-anggota .data-anggota .icons .instagram:hover {
  transform: scale(1.5);
}
