html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  background-color: #f5f1eb;
}

.container {
  min-height: 100vh;
  max-width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  align-items: center;
  border-bottom: 1px solid #245232;
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(45%)
    brightness(140%);
}

.navbar .title a {
  padding: 0;
}

.navbar .title a img {
  object-fit: cover;
  margin-left: 40px;
}

.navbar .menu ul {
  display: flex;
  list-style: none;
  margin-right: 100px;
}

.navbar .menu ul li {
  margin: 0 20px;
}

.navbar .menu ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.navbar .menu ul li a:hover {
  color: #34495e;
  border-bottom: 4px solid #2c3e50;
  transition: 0.3s;
}

.navbar .menu li .selected {
  background-color: #245232;
  padding: 15px;
  border-radius: 5px;
  color: white;
}

.navbar .menu li .selected:hover {
  color: #f5f1eb;
  border-bottom: 1px solid #f5f1eb;
}

section {
  margin-top: 8rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.content img {
  object-fit: cover;
  width: 100%;
}

.content .title-content {
  text-align: center;
  font-size: 2rem;
}

.content .body-content {
  font-size: 1.2rem;
  text-align: justify;
}

@media (max-width: 640px) {
  .navbar {
    padding: 5px 30px;
  }
  .navbar .title a img {
    margin-left: 15px;
    width: 50px;
  }
  .navbar .menu ul li {
    margin: 0 5px;
    white-space: nowrap;
  }
  .navbar .menu ul li a {
    font-size: 8px;
  }
}
